<a href="https://colab.research.google.com/github/Zeeshan2012/basic_visualization/blob/main/Basic_Data_Manipulation_Visualization_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic Exercises on Data Importing - Understanding - Manipulating - Analysis - Visualization

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Section-1: The pupose of the below exercises (1-7) is to create dictionary and convert into dataframes, how to diplay etc...
## The below exercises required to create data

### 1. Import the necessary libraries (pandas, numpy, datetime, re etc)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
import seaborn as sns
import re

# set the graphs to show in the jupyter notebook
%matplotlib inline

# set seabor graphs to a better style
sns.set(style="ticks")

### 2. Run the below line of code to create a dictionary and this will be used for below exercises

In [86]:
raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }

### 3. Assign it to a object called pokemon and it should be a pandas DataFrame

In [87]:
pokemon = pd.DataFrame(raw_data)
pokemon

         name   evolution   type  hp pokedex
0   Bulbasaur     Ivysaur  grass  45     yes
1  Charmander  Charmeleon   fire  39      no
2    Squirtle   Wartortle  water  44     yes
3    Caterpie     Metapod    bug  45      no

### 4. If the DataFrame columns are in alphabetical order, change the order of the columns as name, type, hp, evolution, pokedex

In [88]:
new_order = ['name','type','hp','evolution','pokedex']
df=pokemon.reindex(columns=new_order)

In [85]:
df

Empty DataFrame
Columns: [alcohol, malic_acid, alcalinity_of_ash, magnesium, flavanoids, proanthocyanins, hue]
Index: []

In [89]:
df['name'][0:3]

0     Bulbasaur
1    Charmander
2      Squirtle
Name: name, dtype: object

### 5. Add another column called place, and insert places (lakes, parks, hills, forest etc) of your choice.

In [12]:
df.insert(5,column='place',value = ['lakes','parks','hills','forest'])

In [13]:
df

         name   type  hp   evolution pokedex   place
0   Bulbasaur  grass  45     Ivysaur     yes   lakes
1  Charmander   fire  39  Charmeleon      no   parks
2    Squirtle  water  44   Wartortle     yes   hills
3    Caterpie    bug  45     Metapod      no  forest

### 6. Display the data type of each column

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       4 non-null      object
 1   type       4 non-null      object
 2   hp         4 non-null      int64
 3   evolution  4 non-null      object
 4   pokedex    4 non-null      object
 5   place      4 non-null      object
dtypes: int64(1), object(5)
memory usage: 320.0+ bytes

### 7. Display the info of dataframe

In [17]:
df.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

## Section-2: The pupose of the below exercise (8-20) is to understand deleting data with pandas.
## The below exercises required to use wine.data

### 8. Import the dataset *wine.txt* from the folder and assign it to a object called wine

Please note that the original data text file doesn't contain any header. Please ensure that when you import the data, you should use a suitable argument so as to avoid data getting imported as header.

In [46]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data_visualization/basic_visualization/wine.txt', header=None )

In [47]:
data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

### 9. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [50]:
data.drop(data[0],axis =0, inplace = True)

In [51]:
data

     0     4    5     6     7     8     9      10    11    12    13
0     1  15.6  127  2.80  3.06  0.28  2.29   5.64  1.04  3.92  1065
4     1  21.0  118  2.80  2.69  0.39  1.82   4.32  1.04  2.93   735
5     1  15.2  112  3.27  3.39  0.34  1.97   6.75  1.05  2.85  1450
6     1  14.6   96  2.50  2.52  0.30  1.98   5.25  1.02  3.58  1290
7     1  17.6  121  2.60  2.51  0.31  1.25   5.05  1.06  3.58  1295
..   ..   ...  ...   ...   ...   ...   ...    ...   ...   ...   ...
173   3  20.5   95  1.68  0.61  0.52  1.06   7.70  0.64  1.74   740
174   3  23.0  102  1.80  0.75  0.43  1.41   7.30  0.70  1.56   750
175   3  20.0  120  1.59  0.69  0.43  1.35  10.20  0.59  1.56   835
176   3  20.0  120  1.65  0.68  0.53  1.46   9.30  0.60  1.62   840
177   3  24.5   96  2.05  0.76  0.56  1.35   9.20  0.61  1.60   560

[175 rows x 11 columns]

### 10. Assign the columns as below:

The attributes are (dontated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [138]:
df1 = pd.DataFrame(np.random.randint(0,10,size=(10, 7)), columns=['alcohol','malic_acid','alcalinity_of_ash','magnesium','flavanoids','proanthocyanins','hue'])

In [139]:
df1

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,0,4,0,3,8,0,4
1,5,6,4,8,5,1,7
2,8,8,8,0,6,0,2
3,8,2,8,2,8,6,5
4,0,4,7,1,5,4,2
5,2,5,2,6,3,3,6
6,4,7,9,3,8,2,8
7,5,8,3,9,4,0,9
8,4,6,0,3,4,4,7
9,9,8,9,1,0,2,2

### 11. Set the values of the first 3 values from alcohol column as NaN

In [140]:
df1['alcohol'][0:3]=np.nan

In [141]:
df1

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,4,0,3,8,0,4
1,NaN,6,4,8,5,1,7
2,NaN,8,8,0,6,0,2
3,8.0,2,8,2,8,6,5
4,0.0,4,7,1,5,4,2
5,2.0,5,2,6,3,3,6
6,4.0,7,9,3,8,2,8
7,5.0,8,3,9,4,0,9
8,4.0,6,0,3,4,4,7
9,9.0,8,9,1,0,2,2

### 12. Now set the value of the rows 3 and 4 of magnesium as NaN

In [142]:
df1['magnesium'][2:4]=np.nan

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [143]:
df1

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,4,0,3.0,8,0,4
1,NaN,6,4,8.0,5,1,7
2,NaN,8,8,NaN,6,0,2
3,8.0,2,8,NaN,8,6,5
4,0.0,4,7,1.0,5,4,2
5,2.0,5,2,6.0,3,3,6
6,4.0,7,9,3.0,8,2,8
7,5.0,8,3,9.0,4,0,9
8,4.0,6,0,3.0,4,4,7
9,9.0,8,9,1.0,0,2,2

### 13. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [144]:
df1['alcohol'] = df1['alcohol'].fillna(10,axis=0)

In [145]:
df1

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.0,4,0,3.0,8,0,4
1,10.0,6,4,8.0,5,1,7
2,10.0,8,8,NaN,6,0,2
3,8.0,2,8,NaN,8,6,5
4,0.0,4,7,1.0,5,4,2
5,2.0,5,2,6.0,3,3,6
6,4.0,7,9,3.0,8,2,8
7,5.0,8,3,9.0,4,0,9
8,4.0,6,0,3.0,4,4,7
9,9.0,8,9,1.0,0,2,2

### 14. Count the number of missing values in all columns.

In [147]:
df1.isnull().sum()

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            2
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

### 15.  Create an array of 10 random numbers up until 10 and save it.

In [151]:
from numpy import random

In [157]:
arr = random.randint(10,size=10)
arr

array([9, 6, 7, 2, 3, 3, 4, 6, 1, 5])

### 16.  Set the rows corresponding to the random numbers to NaN in the column *alcohol*

### 17.  How many missing values do we have now?

### 18. Print only the non-null values in alcohol

In [171]:
df1[df1['alcohol'].notnull()]

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.0,4,0,3.0,8,0,4
1,10.0,6,4,8.0,5,1,7
2,10.0,8,8,NaN,6,0,2
3,8.0,2,8,NaN,8,6,5
4,0.0,4,7,1.0,5,4,2
5,2.0,5,2,6.0,3,3,6
6,4.0,7,9,3.0,8,2,8
7,5.0,8,3,9.0,4,0,9
8,4.0,6,0,3.0,4,4,7
9,9.0,8,9,1.0,0,2,2

### 19. Delete the rows that contain missing values

In [175]:
df1 = df1.dropna()
df1

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.0,4,0,3.0,8,0,4
1,10.0,6,4,8.0,5,1,7
4,0.0,4,7,1.0,5,4,2
5,2.0,5,2,6.0,3,3,6
6,4.0,7,9,3.0,8,2,8
7,5.0,8,3,9.0,4,0,9
8,4.0,6,0,3.0,4,4,7
9,9.0,8,9,1.0,0,2,2

### 20.  Reset the index, so it starts with 0 again

In [176]:
df1.reset_index()

,index,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,0,10.0,4,0,3.0,8,0,4
1,1,10.0,6,4,8.0,5,1,7
2,4,0.0,4,7,1.0,5,4,2
3,5,2.0,5,2,6.0,3,3,6
4,6,4.0,7,9,3.0,8,2,8
5,7,5.0,8,3,9.0,4,0,9
6,8,4.0,6,0,3.0,4,4,7
7,9,9.0,8,9,1.0,0,2,2

## Section-3: The pupose of the below exercise (21-27) is to understand ***filtering & sorting*** data from dataframe.
## The below exercises required to use chipotle.tsv

This time we are going to pull data directly from the internet.  
Import the dataset directly from this link (https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and create dataframe called chipo

In [178]:
df2 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data_visualization/basic_visualization/chipotle.tsv', sep='\t')

In [179]:
df2

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### 21. How many products cost more than $10.00? 

Use `str` attribute to remove the $ sign and convert the column to proper numeric type data before filtering.

In [180]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### 22. Print the Chipo Dataframe & info about data frame

### 23. What is the price of each item? 
- Delete the duplicates in item_name and quantity
- Print a data frame with only two columns `item_name` and `item_price`
- Sort the values from the most to less expensive

### 24. Sort by the name of the item

### 25. What was the quantity of the most expensive item ordered?

### 26. How many times were a Veggie Salad Bowl ordered?

### 27. How many times people orderd more than one Canned Soda?

## Section-4: The purpose of the below exercises is to understand how to perform aggregations of data frame
## The below exercises (28-33) required to use occupation.csv

###  28. Import the dataset occupation.csv and assign object as users

### 29. Discover what is the mean age per occupation

### 30. Discover the Male ratio per occupation and sort it from the most to the least.

Use numpy.where() to encode gender column.

### 31. For each occupation, calculate the minimum and maximum ages

### 32. For each combination of occupation and gender, calculate the mean age

### 33.  For each occupation present the percentage of women and men

## Section-6: The purpose of the below exercises is to understand how to use lambda-apply-functions
## The below exercises (34-41) required to use student-mat.csv and student-por.csv files

### 34. Import the datasets *student-mat* and *student-por* and append them and assigned object as df

### 35. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

### 36. Create a lambda function that captalize strings (example: if we give at_home as input function and should give At_home as output.

### 37. Capitalize both Mjob and Fjob variables using above lamdba function

### 38. Print the last elements of the data set. (Last few records)

### 39. Did you notice the original dataframe is still lowercase? Why is that? Fix it and captalize Mjob and Fjob.

### 40. Create a function called majority that return a boolean value to a new column called legal_drinker

### 41. Multiply every number of the dataset by 10.

## Section-6: The purpose of the below exercises is to understand how to perform simple joins
## The below exercises (42-48) required to use cars1.csv and cars2.csv files

### 42. Import the datasets cars1.csv and cars2.csv and assign names as cars1 and cars2

   ### 43. Print the information to cars1 by applying below functions 
   hint: Use different functions/methods like type(), head(), tail(), columns(), info(), dtypes(), index(), shape(), count(), size(), ndim(), axes(), describe(), memory_usage(), sort_values(), value_counts()
   Also create profile report using pandas_profiling.Profile_Report

### 44. It seems our first dataset has some unnamed blank columns, fix cars1

### 45. What is the number of observations in each dataset?

### 46. Join cars1 and cars2 into a single DataFrame called cars

### 47. There is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

### 48. Add the column owners to cars

## Section-7: The purpose of the below exercises is to understand how to perform date time operations

### 49. Write a Python script to display the
- a. Current date and time
- b. Current year
- c. Month of year
- d. Week number of the year
- e. Weekday of the week
- f. Day of year
- g. Day of the month
- h. Day of week

### 50. Write a Python program to convert a string to datetime.
Sample String : Jul 1 2014 2:43PM 

Expected Output : 2014-07-01 14:43:00

### 51. Write a Python program to subtract five days from current date.

Current Date : 2015-06-22

5 days before Current Date : 2015-06-17

### 52. Write a Python program to convert unix timestamp string to readable date.

Sample Unix timestamp string : 1284105682
    
Expected Output : 2010-09-10 13:31:22

### 53. Convert the below Series to pandas datetime : 

DoB = pd.Series(["07Sep59","01Jan55","15Dec47","11Jul42"])

Make sure that the year is 19XX not 20XX

### 54. Write a Python program to get days between two dates.

### 55. Convert the below date to datetime and then change its display format using the .dt module

Date = "15Dec1989"

Result : "Friday, 15 Dec 98"

## The below exercises (56-66) required to use wind.data file

### About wind.data:

The data have been modified to contain some missing values, identified by NaN.  

1. The data in 'wind.data' has the following format:

"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""
The first three columns are year, month and day.  The remaining 12 columns are average windspeeds in knots at 12 locations in Ireland on that day.

### 56. Import the dataset wind.data and assign it to a variable called data and replace the first 3 columns by a proper date time index

### 57. Year 2061 is seemingly imporoper. Convert every year which are < 70 to 19XX instead of 20XX.

### 58. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

### 59. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

### 60. Compute how many non-missing values there are in total.

### 61. Calculate the mean windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

### 62. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days 

#### A different set of numbers for each location.

### 63. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

### 64. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

### 65. Calculate the mean windspeed for each month in the dataset.  
#### Treat January 1961 and January 1962 as *different* months.
#### (hint: first find a  way to create an identifier unique for each month.)

### 66. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

## The below exercises (67-70) required to use appl_1980_2014.csv  file

### 67. Import the file appl_1980_2014.csv and assign it to a variable called 'apple'

### 68.  Check out the type of the columns

### 69. Transform the Date column as a datetime type

### 70.  Set the date as the index

### 71.  Is there any duplicate dates?

### 72.  The index is from the most recent date. Sort the data so that the first entry is the oldest date.

### 73. Get the last business day of each month

### 74.  What is the difference in days between the first day and the oldest

### 75.  How many months in the data we have?

## Section-8: The purpose of the below exercises is to understand how to create basic graphs

### 76. Plot the 'Adj Close' value. Set the size of the figure to 13.5 x 9 inches

## The below exercises (77-80) required to use Online_Retail.csv file

### 77. Import the dataset from this Online_Retail.csv and assign it to a variable called online_rt

### 78. Create a barchart with the 10 countries that have the most 'Quantity' ordered except UK

### 79.  Exclude negative Quatity entries

### 80. Create a scatterplot with the Quantity per UnitPrice by CustomerID for the top 3 Countries
Hint: First we need to find top-3 countries based on revenue, then create scater plot between Quantity and Unitprice for each country separately

## The below exercises (81-90) required to use FMCG_Company_Data_2019.csv file

### 81. Import the dataset FMCG_Company_Data_2019.csv and assign it to a variable called company_data

### 82. Create line chart for Total Revenue of all months with following properties
- X label name = Month
- Y label name = Total Revenue

### 83. Create line chart for Total Units of all months with following properties
- X label name = Month
- Y label name = Total Units
- Line Style dotted and Line-color should be red
- Show legend at the lower right location.

### 84. Read all product sales data (Facecream, FaceWash, Toothpaste, Soap, Shampo, Moisturizer) and show it  using a multiline plot
- Display the number of units sold per month for each product using multiline plots. (i.e., Separate Plotline for each product ).

### 85. Create Bar Chart for soap of all months and Save the chart in folder

### 86. Create Stacked Bar Chart for Soap, Shampo, ToothPaste for each month
The bar chart should display the number of units sold per month for each product. Add a separate bar for each product in the same chart.

### 87. Create Histogram for Total Revenue

### 88. Calculate total sales data (quantity) for 2019 for each product and show it using a Pie chart. Understand percentage contribution from each product

### 89. Create line plots for Soap & Facewash of all months in a single plot using Subplot

### 90. Create Box Plot for Total Profit variable